os: linux
dist: trusty
language: php

php:
  - 5.5.9
  - 5.5
  - 5.6
  - 7.0

install: travis_retry composer install --no-interaction --prefer-source

script:
  - php vendor/bin/phpcs
  - php vendor/bin/phpunit --verbose
